
.service{
    margin-bottom: 60px;
}


.service_title {
    font-weight: 700;
    font-size: 40px;
    color: #3d3d3f;
    text-align: center;
    margin-bottom: 55px;
}

.service_inner_title {
    font-weight: 700;
    font-size: 36px;
    color: #3d3d3f;
    margin-top: 23px;
    margin-bottom: 13px;
}

.service_text{
font-weight: 400;
font-size: 24px;
color: #767679;
}

.service_list{
    gap: 110px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    display: flex;
}

.service_coment{
    border: 2px solid  rgba(235, 235, 235, 0.8);
    border-radius: 17px;
    display: flex;
    gap: 100px;
    margin-bottom: 93px;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    height: 314px;
    width: 1170px;
}

.service_item{
    text-align: center;
}